@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

@font-face {
  font-family: Minecraft, Arial;
  src: url(../font/Minecraft-Regular.ttf);

}

body {
  background-color: white;
  color: darkgray;
}

footer div a {
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
  -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #7289da;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav button {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border: none;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.bot-image {
  display: block;
  margin: 0 auto;
}

#lib ul a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
footer p a {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  display: flex;
  margin: auto;
}

.search-input {
  float: right;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

p {
  margin-top: 10px;
  color: #666;
}

.date {
  font-style: italic;
}

section {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

/* Pouce de la barre de défilement */
::-webkit-scrollbar-thumb {
  background: #7289da; /* Couleur du pouce de la barre de défilement */
  border-radius: 10px;
}

#story a {
  text-decoration: none;
  color: inherit;
}