body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  background-color: #7289da;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

nav button {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border: none;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.bot-image {
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

p {
  margin-top: 10px;
  color: #666;
}

.date {
  font-style: italic;
}

.section {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sub-section {
  margin-top: 10px;
}
/* Votre CSS pour le bouton Home */
.home-button {
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.home-button img {
  width: 30px;
}