@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);

@font-face {
  font-family: Minecraft Arial;
  src: url(../font/Minecraft-Regular.ttf);
}

form {
  display: flex; /* Utiliser la flexbox pour aligner les éléments horizontalement */
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

section {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}


#sub-button {
  border-radius: 10px;
  padding: 8px 15px; /* Ajuster le rembourrage selon vos préférences */
  margin-left: 5px; /* Ajouter un espace entre l'input et le bouton */
  border: 1px solid #ccc;
  background-color: #4caf50; /* Ajouter une couleur de fond au bouton */
  color: white; /* Ajouter une couleur de texte au bouton */
  cursor: pointer; /* Afficher un pointeur au survol du bouton */
}

footer div a {
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  background: #fff;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0);
  color: var(--color);
}

body {
  font-family: Arial, sans-serif;
  background-image: url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg');
  background-attachment: fixed;
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le bloc */
  background-position: center; /* Centre l'image dans le bloc */
}

header {
  background-color: #7289da;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: "Minecraft", sans-serif;
  display: flex;
}

.navbar button {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border: none;
}

.navbar a:hover {
    background-color: lightblue;
}


.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bot-image {
  display: block;
  margin: 0 auto;
}

#lib ul a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
footer p a {
  text-decoration: none;
  color: inherit;
}

.search-bar {
  display: flex;
  margin: auto;
}

div input {
  float: right;
  align-items: center;
  font-family: "Minecraft", sans-serif;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  width: 70%;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  margin-top: 20px;
  color: #555;
}

p {
  margin-top: 10px;
  color: #666;
}

.date {
  font-style: italic;
}



section a {
  text-decoration: none;
  color: inherit;
}


/* Barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
  background-color:#333;
}

/* Pouce de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #7289da; /* Couleur du pouce de la barre de défilement */
  border-radius: 10px;
}

#story a {
  text-decoration: none;
  color: inherit;
}

.fa-brands.fa-linkedin-in {
  transition: transform 0.3s ease-in-out;
  --color: #0072b1
}

.fa-brands.fa-x-twitter {
  transition: transform 0.3s ease-in-out;
  --color: #000000
}

.fa-brands.fa-discord {
  transition: transform 0.3s ease-in-out;
  --color: #7289DA
}

.fa-brands.fa-github {
  transition: transform 0.3s ease-in-out;
  --color: #000000
}

.fa-brands.fa-linkedin-in:hover {
  transform: scale(1.2); /* Augmente la taille de 20% lorsqu'elle est survolée */
}

.fa-brands.fa-x-twitter:hover {
  transform: scale(1.2); /* Augmente la taille de 20% lorsqu'elle est survolée */
}

.fa-brands.fa-discord:hover {
  transform: scale(1.2); /* Augmente la taille de 20% lorsqu'elle est survolée */
}

.fa-brands.fa-github:hover {
  transform: scale(1.2); /* Augmente la taille de 20% lorsqu'elle est survolée */
}